<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/categories"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (isEdit ? 'categories.editTitle' : 'categories.addTitle') | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-wrapper">
    <ion-item>
      <ion-label position="stacked">{{ 'categories.name' | translate }} *</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'categories.description' | translate }}</ion-label>
      <ion-textarea formControlName="description" [autoGrow]="true"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'categories.color' | translate }}</ion-label>
      <input type="color" formControlName="color" class="color-input" />
    </ion-item>

    <ion-item lines="none">
      <ion-toggle formControlName="isActive">{{ 'categories.active' | translate }}</ion-toggle>
    </ion-item>

    <div class="save-wrapper">
      <ion-button expand="block" type="submit" [disabled]="saving()">
        @if (saving()) {
          <ion-spinner name="dots"></ion-spinner>
        } @else {
          {{ 'common.save' | translate }}
        }
      </ion-button>
    </div>
  </form>
</ion-content>
